@media screen and (min-width: 991px)
    html
        font-size: 62.5%

@media screen and (max-width: 990px)
    html
        font-size: 50%

@media screen and (max-width: 800px)
    html
        font-size: 43.75%

    .col-1of-2
        width: 100%
    
    .composition__photo
        width: 40%
        &_n1
            top: 2rem
            left: 7rem
        &_n2
            top: 10rem
            left: 30rem
        &_n3
            top: 20rem
            left: 55rem

@media screen and (max-width: 700px)
    html
        font-size: 37.5%


@media screen and (max-width: 600px)
    html
        font-size: 31.25%

@media screen and (max-width: 500px)
    html
        font-size: 25%