@media screen and (min-width: 991px)
    html
        font-size: 62.5%

@media screen and (max-width: 990px)
    html
        font-size: 50%

@media screen and (max-width: 800px)
    html
        font-size: 43.75%

    .col-1of-2
        width: calc(100% - #{$margin-hor})

@media screen and (max-width: 700px)
    html
        font-size: 37.5%


@media screen and (max-width: 600px)
    html
        font-size: 31.25%

@media screen and (max-width: 500px)
    html
        font-size: 25%