*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%

body
    background-color: white
    margin-bottom: 4rem
    position: relative
    z-index: -4

.container
    background-color: $color-back
    overflow: hidden
    position: relative
    z-index: -3